textarea.pwf_tallarea {
 font-family:auto;
 font-family:inherit;
 font-size:1.1em;
// font-size:inherit;
 line-height:1.2;
 width:50em;
 height:16em;
}
textarea.pwf_shortarea {
 font-family:auto;
 font-family:inherit;
 font-size:1.1em;
// font-size:inherit;
 line-height:1.2;
 width:50em;
 height:6em;
}
textarea.cloaked {
 font-family:auto;
 font-family:inherit;
 font-size:1.2em;
// font-size:inherit;
 line-height:1.1;
 width:40em;
 height:2.4em;
}
p.pagetext {
 margin-top:0.5em;
 margin-bottom:0.5em;
 margin-left:0 !important
}

.pwf_link { text-decoration:underline; }
.pwf_fieldset { margin-bottom:2em; }
.help_display { display:none; }
//.pwf_help { display:none; }
//.pwf_innernav, .pwf_browsenav {padding:5px;}
//span.pwf_order { display:none; visibility:hidden; }
.invalid_field { color: #F33; }
table#fields
{
 font-size:1em;
 margin-left:0;
 width:auto;
 table-layout:auto;
 border-collapse:collapse;
}
table#fields th {font-size:1em;}

table.varshelp
{
 font-size:11px;
 margin:6px 0;
 border:1px solid black;
 border-collapse:collapse;
}
table.varshelp th {background-color:#AAA;}

table.pagetable { padding:3px; border-spacing:0; margin-left:0; width:auto }

table.leftwards {
 margin-left:0;
 width:auto;
 table-layout:auto;
}
table.rightwards {
 margin-right:0;
 width:auto;
 table-layout:auto;
}
//multi-page submit buttons
.submit_current {}
.submit_next {}
.submit_prev {}
//.inputhelp { color:#384654; padding:0; margin:0,0,0,20%; width:auto; text-align:left; }
.error { font-weight:bold;font-size:13px;color:#F00; }
.error_list { color:#F00; }
.error_message { font-weight:bold;color:#F00; }
//.captcha {}
.dndhelp { display:none; } /* changed at runtime if js is available */
img.tipper { display:none; } /* ditto */
.addfast { display:none; } /* ditto */
