.pwf_area_wide {width: 557px;}
.pwf_area_short {width: 500px; height: 100px;}
.pwf_link {text-decoration: underline;}
.pwf_fieldset {margin-bottom:2em;}
table.pwf_table
{
font-size: 10px;
margin-left: 5%;
width:auto;
table-layout: auto;
border-collapse: collapse;
}
.pwf_legend {font-size: 9px; margin: 6px 0; border: 1px solid black; border-collapse: collapse;}
.pwf_legend th {background-color: #AAA;}

.odd {background-color: #FFF;text-align:left;vertical-alignment: top;}
.even {background-color: #DDD;text-align:left;vertical-alignment: top;}
.inputhelp {color: #384654; padding: 0; margin: 0,0,0,20%; width: auto; text-align:left; }
